extends layout

block content
  h1= title
  p Your very own ready to use Pug Template
  p Modules Included
  ul
    li Modular approach 
    li Minify 
    li Cookie Parser
    li
      b ESM Support
